.table :deep(th){border:1px solid #000;}
.table :deep(td){border:1px solid #000;}
.table :deep(tr){height:1.5rem;}

table.fullsize {table-layout: fixed; width: 100%; margin-top:1rem;}
table.fullsize :deep(tr){border:1px solid #313132;}
table.fullsize :deep(td){padding:0 0 0 .5rem; color: #313132;}

table.compactfullsize {table-layout: fixed; width: 100%; margin-top:0rem;}
table.compactfullsize :deep(tr){border:1px solid #313132;}
table.compactfullsize :deep(td){padding:0 0 0 .5rem; color: #313132;}

.new-page{margin-top:7rem;}
.marginleft{margin-left:-1rem;}
.marginleft1vue{margin-left:1rem !important;}
.marginleft1p5vue{margin-left:1.5rem !important;}
.marginleft2p5vue{margin-left:2.5rem !important;}
.marginleft-1vue{margin-left:-1rem !important;}
.marginleft0p25vue{margin-left:0.25rem !important;}

.margintop1vue{margin-top:1rem !important;}

.answer{color: #000; display:inline; font-size:11pt;}
.answerbox{color: #000; font-size:11pt; display:block;text-indent:0px; margin:0.5rem 0 0.5rem 0.1rem;}
.uline{text-decoration: underline; display: inline;}
.form-header{display:block; margin:0 0 4rem 0;}
.form-header-po{display:block; margin:0 0 4rem 0;}
.form-header-ppm{display:block; margin:0 0 5.25rem 0;}
.form-header-cm{display:block; margin:0 0 7rem 0;}
.form-one-header{display:block; margin:0 0 4rem 0;}
.form-header-reloc{display:block; margin:0 0 5.25rem 0;}
.form-header-ea{display:block; margin:0 0 6rem 0;}
.form-header-enf{display:block; margin:0 0 4.5rem 0;}
.court-header-after{margin:1rem 0 0 0;}

.arrow-up-flash{ margin: 0.25rem auto 0 auto;width: 0;height: 0; border-left: 16px solid transparent; border-right: 16px solid transparent;border-bottom: 16px solid #E8E8E8;}
.arrow-up-box{margin: 0 auto;width: 16px;height:4px;background-color:#E8E8E8;border: 0px solid #E8E8E8;}
.coa-text-box{padding:0.5rem; border: 1px solid black; word-wrap: break-word;}
.coa-text-box-center{outline: 1px solid black; word-wrap: break-word; display:flex; align-items:center; justify-content:center; text-align:center;}
.coa-text-box-left  {outline: 1px solid black; word-wrap: break-word; display:flex; align-items:center; justify-content:left; text-align:left;}
.coa-help-box{padding:0.5rem; border: 1px solid #E8E8E8; background: #E8E8E8;}

.coa-arrow-box{background: #E8E8E8;word-wrap: break-word;}
.coa-arrow-box-center{background: #E8E8E8;word-wrap: break-word; display:flex; align-items:center; justify-content:center; text-align:center;}
.coa-arrow-box-left{background: #E8E8E8;word-wrap: break-word; display:flex; align-items:center; justify-content:left; text-align:left;}
.coa-arrow-box-right{background: #E8E8E8;word-wrap: break-word; display:flex; align-items:center; justify-content:right; text-align:right;}

.arrow-right-flash-110{ margin-right:1.25rem;  width:0;height:0; border-top: 110px solid transparent; border-bottom: 123px solid transparent;border-left: 36px solid #E8E8E8;}
.arrow-right-flash-85{ margin-right:1.25rem;  width:0;height:0; border-top: 85px solid transparent; border-bottom: 85px solid transparent;border-left: 36px solid #E8E8E8;}
.arrow-right-flash-80{ margin-right:1.25rem;  width:0;height:0; border-top: 80px solid transparent; border-bottom: 80px solid transparent;border-left: 36px solid #E8E8E8;}
.arrow-right-flash-76{ margin-right:1.25rem;  width:0;height:0; border-top: 76px solid transparent; border-bottom: 76px solid transparent;border-left: 36px solid #E8E8E8;}
.arrow-right-flash-66{ margin-right:1.25rem;  width:0;height:0; border-top: 66px solid transparent; border-bottom: 66px solid transparent;border-left: 36px solid #E8E8E8;}
.arrow-right-flash-62{ margin-right:1.25rem;  width:0;height:0; border-top: 62px solid transparent; border-bottom: 62px solid transparent;border-left: 36px solid #E8E8E8;}
.arrow-right-flash-54{ margin-right:1.25rem;  width:0;height:0; border-top: 54px solid transparent; border-bottom: 54px solid transparent;border-left: 36px solid #E8E8E8;}
.arrow-right-flash-45{ margin-right:1.25rem;  width:0;height:0; border-top: 45px solid transparent; border-bottom: 45px solid transparent;border-left: 36px solid #E8E8E8;}
.arrow-right-flash-36{ margin-right:1.25rem;  width:0;height:0; border-top: 36px solid transparent; border-bottom: 36px solid transparent;border-left: 36px solid #E8E8E8;}
.arrow-right-flash-30{ margin-right:1.25rem;  width:0;height:0; border-top: 30px solid transparent; border-bottom: 30px solid transparent;border-left: 36px solid #E8E8E8;}
.arrow-right-flash-20{ margin-right:1.25rem;  width:0;height:0; border-top: 20px solid transparent; border-bottom: 20px solid transparent;border-left: 20px solid #E8E8E8;}
.arrow-right-flash-25{ margin-right:1.25rem;  width:0;height:0; border-top: 25px solid transparent; border-bottom: 25px solid transparent;border-left: 25px solid #E8E8E8;}

.text-box-65-5{width: 64.75% !important;}
.mg-rg-2-5{margin-right:2.5rem;}
.mg-rg-3{margin-right:3rem;}
.mg-lf-0{margin-left:0rem !important;}
.mg-lf-2{margin-left:2rem !important;}
.mg-lf-17{margin-left:17rem !important;}
.pd-est{padding:0.1rem 0 0 0.25rem !important;}
.pd-est-sm{padding:0.5rem 0 0 0.25rem !important;}
.w-18-5{width: 18.5% !important;}
.w-25-5{width: 25.5% !important;}
.w-28-5{width: 28.5% !important;}
.mg-lf-9{margin-left:10rem !important;}
section{
    counter-increment: question-counter;         
    text-indent: -17px;
    text-align: justify;
    text-justify: inter-word;
    margin: 0.5rem 0.5rem 0.5rem 1rem;
}

section:before {
    font-weight: bolder;        
    content:counter(question-counter) ".";
}

section:after{
    float:none; white-space: pre;
}

section.resetquestion{counter-reset: question-counter;}


ol.resetcounter{
    list-style: none;
    counter-reset: bracket-counter;
}
ol li.bracketnumber{
    text-indent: -25px;
    text-align: justify; 
    text-justify: inter-word;
    margin:1rem 0;
    counter-increment: bracket-counter;
}
ol li.bracketnumber:before {
    content:"(" counter(bracket-counter) ") ";
    font-weight: bold;
}

ol.resetcounteralpha {
    list-style: none;
    counter-reset: alpha-counter;
}
  
ol li.bracketalpha {
    text-indent: -20px;
    margin:0.25rem 0;
    counter-increment: alpha;
}

ol li.bracketalpha:before {
    content:counter(alpha, lower-alpha)") ";
}

ol.resetcounterroman {
    list-style: none;
    counter-reset: roman-counter;
}
  
ol li.bracketroman {
    text-indent: -20px;
    margin:0.25rem 0;
    counter-increment: roman;
}

ol li.bracketroman:before {
    content:counter(roman, lower-roman)") ";
}

ol.resetlist {
    list-style: none;
    counter-reset: list-counter;
}
ol li.listnumber{
    text-indent: -25px;
    text-align: justify; 
    text-justify: inter-word;
    margin:1rem 0;
    counter-increment: list-counter;
}
ol li.listnumber:before {
    content:counter(list-counter) ". ";
    font-weight: bold;
}

.container {
    padding: 40px !important; 
    margin-right: auto !important;
    margin-left: auto !important;
    width: 100% !important;
    max-width: 760px !important;
    min-width: 760px !important;   
    font-size: 10pt !important;
    font-family: BCSans;
    color: #313132 !important;
}
    
#app-prints {
    padding: 8px 15px;
    position: absolute;
    position: fixed;
    right: 55rem;
    top: 1rem;
    z-index: 100; 
}

div.row{
    margin-top:0rem; 
    margin-bottom: 0rem;
}