.row-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 100%;
    overflow: hidden;
    background: #fdfdfd;
    position: relative;
}

.row-flex.intro-page {
    background: #38598A url("../images/bg-landing.jpg") no-repeat top center fixed;
    background-size: cover;
}


.landing-col {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: BC Sans,Calibri,Arial,Sans Serif;
    font-size: 16px;
    line-height: 24px;
    color: #313132;
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    -webkit-box-flex: 1;
    flex: 1;
    box-sizing: border-box;
    -webkit-box-ordinal-group: 4;
    order: 3;
}

.col-flex {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: BC Sans,Calibri,Arial,Sans Serif;
    font-size: 16px;
    line-height: 24px;
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    box-sizing: border-box;
    margin: 25vh auto 100px;
    max-width: 800px;
    padding: 0 20px;
    text-align: center;
    color: #ffffff;
    position: relative;
}

.flex-wrapper {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: BC Sans,Calibri,Arial,Sans Serif;
    line-height: 24px;
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    color: #ffffff;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    margin: 20px 0;
    text-align: left;
    -webkit-box-pack: justify;
    justify-content: space-between;
    font-size: 18px;
    padding-top: 18px;
    padding-bottom: 30px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.row-flex.intro-page .content-column .flex-wrapper.shaded-box {
    padding-top: 18px;
    padding-bottom: 30px;
    margin-top: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.row-flex.intro-page .content-column h2.shaded-box {
    padding-top: 28px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.row-flex.intro-page .content-column .flex-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 20px 0;
    text-align: left;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 18px;
}

.shaded-box {
    margin-top: 1rem;
    background-color: rgba(0,0,0,0.8);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.row-flex.intro-page .content-column h2.shaded-box {
    padding-top: 28px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.row-flex.intro-page .content-column h2 {
    font-size: 30px;
    font-weight: 600;
    margin: 140px 0 0;
}

.flex-column {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: BC Sans,Calibri,Arial,Sans Serif;
    line-height: 24px;
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    box-sizing: border-box;
    width: 45%;
}

.flex-column.left {
    padding-left: 30px;
}

.flex-column.right {
    /*padding-right: 0px;*/
    text-align: right;
}

.landing-h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: white;
    margin-bottom: 40px;
}

.heading-desc {
    padding-top: 2rem;
}

.desc-title {
    padding-top: 2rem;
    padding-bottom: 1rem;
}
.landing-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 36px;
    color: white;
    margin-bottom: 0px;
}

.landing-desc .desc-title {
    font-weight: 600;
    font-size: 26px;
    line-height: 36px;
    color: white;
    margin-bottom: 0px;
    margin-top: 3rem;
}

.landing-desc .desc-body {
    margin-top: 2rem;

}

.landing-desc .desc-body .desc-number {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: white;
    margin-bottom: 0px;
    margin-left: 1rem;
    padding: 0rem;
    border: #ffffff 2px solid;
    border-radius: 20px;
    width: 3.35rem;
}

.landing-desc .desc-body .desc-step {
    font-weight: 550;
    font-size: 20px;
    line-height: 34px;
    color: white;
    margin-bottom: 0px;
    margin-left: 15px;
}

.landing-desc .desc-body .desc-step-body {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: white;
    margin-bottom: 0px;
    margin-left: 1rem;
    padding-top: 6px;
    text-align: left;
}

h4 {
    color:white;
    font-size:16px;
}
.landing-h3 {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    text-align: center;
    box-sizing: border-box;
    font-family: inherit;
    margin-bottom: 6px;
    font-weight: 400;
    font-size: 20px;
    line-height: 42px;
    margin-top: 15px;
    color: #ffffff;
}

.button-align {
    font-size: 20px;
    border-radius: 6px;
}

.landing-left-col {
    padding-right: 50px;
}

.landing-right-col {
    padding-left: 15px;
}

.landing-credit-div {
    bottom: 50px;
    right: 20px;
    position: absolute;
    color: white;
    font-size: 9px;
}

.landing-credit-a {
    color: white;
    link: white;
    visited: white;
    hover: white;
    active: white;
}
