.row-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 60px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 100%;
    overflow: hidden;
    background: #fdfdfd;
    position: relative;
}

.row-flex.intro-page {
    background: #38598A url("../images/bg-landing.jpg") no-repeat top center fixed;
    background-size: cover;
}


.col {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: BC Sans,Calibri,Arial,Sans Serif;
    font-size: 16px;
    line-height: 24px;
    color: #313132;
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    -webkit-box-flex: 1;
    flex: 1;
    box-sizing: border-box;
    -webkit-box-ordinal-group: 4;
    order: 3;
}

.col-flex {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: BC Sans,Calibri,Arial,Sans Serif;
    font-size: 16px;
    line-height: 24px;
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    box-sizing: border-box;
    margin: 54px auto 100px;
    max-width: 800px;
    padding: 0 20px;
    text-align: center;
    color: #ffffff;
    position: relative;
}

.flex-wrapper {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: BC Sans,Calibri,Arial,Sans Serif;
    line-height: 24px;
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    color: #ffffff;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    margin: 20px 0;
    text-align: left;
    -webkit-box-pack: justify;
    justify-content: space-between;
    font-size: 18px;
    padding-top: 18px;
    padding-bottom: 30px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.row-flex.intro-page .content-column .flex-wrapper.shaded-box {
    padding-top: 18px;
    padding-bottom: 30px;
    margin-top: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.row-flex.intro-page .content-column h2.shaded-box {
    padding-top: 28px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.row-flex.intro-page .content-column .flex-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 20px 0;
    text-align: left;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 18px;
}

.shaded-box {
    background-color: rgba(0,0,0,0.8);
}

.row-flex.intro-page .content-column h2.shaded-box {
    padding-top: 28px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.row-flex.intro-page .content-column h2 {
    font-size: 30px;
    font-weight: 600;
    margin: 140px 0 0;
}

.flex-column {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: BC Sans,Calibri,Arial,Sans Serif;
    line-height: 24px;
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    box-sizing: border-box;
    width: 45%;
}

.flex-column.left {
    padding-left: 30px;
}

.flex-column.right {
    /*padding-right: 0px;*/
    text-align: right;
}

.landing-h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: white;
    margin-bottom: 40px;
}

.landing-h3 {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    text-align: left;
    box-sizing: border-box;
    font-family: inherit;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 42px;
    margin-top: 15px;
    color: #ffffff;
    margin-left: 56px;
}

.button-align {
    margin-right: 70px;
    font-size: 20px;
}
