:root {
	--header-background: #003366;
	--sub-header-background: #38598a;
	--actioned-green: rgb(81, 180, 81);
	--action-button: green;
}

.form {
	background-color: #f1f1f1;
}

#steps {
	background-color: white;
	padding-top: 15px;
	padding-bottom: 5px;
	padding-left:50px;
	font-size: 2rem;
	font-weight: bold;
}
#steps ol {
	padding: 0px;
	width: 100%;
	white-space: nowrap;
}
#steps ol li
{
	display:inline-block;
	list-style-type: none;
	width: 20%;
	white-space: nowrap;
}
.step-circle {
	display:inline-block;
	border: 1px black solid;
	border-radius: 50%;
	vertical-align: middle;
	text-align: center;
	width: 40px;
	height: 40px;
	line-height: 33px;
}
.done {
	background-color: white;
	color: lightgray;
	border-color: lightgray;
}
.in-progress {
	color: black;
	border-color: black;
}
.future {
	color: lightgray;
	border-color: lightgray;
}
.step-title-7 {
	margin-left: 5px;
}
.form-title {
	padding-top: 15px;
	padding-bottom: 15px;
}
.form-section {
	background-color: white;
	padding: 15px;
	margin-bottom: 15px;
	border: 1px solid white;
	font-family: 'BC Sans', sans-serif;
}
.form-section h3 {
	font-weight: 600;
}
.btn-green {
	background-color: green;
	border-radius: 5px;
	border-color: green;
}
#access-list {
	width: 100%
}
#access-list th {
	background-color: lightblue;
}
.form-field {
	max-width: 100%;
	padding: 2px;
	border: thin solid;
}
.read-only-field {
	border: none;
	max-width: 100%;
	padding: 2px;
	background: #f1f1f1;
}
.form-select {
	max-width: 100%;
	height: 35px;
	border: slategrey;
}
.address-row {
	padding: 0px 0px 2px 0px;
	font-size: 1em;
	vertical-align: middle;
}
.address-row-header {
	padding-bottom:12px;
}

.invalid-field {
	border-color: red;
	border-style: solid;
}
.button-bar {
	display: flex;
	justify-content: space-between;
}
.error-message {
	color: red;
	text-align: left;
}

@keyframes preloaded {
	from {
		background-color: #fbfe70;
	}
	to {
		background-color: #fbfec4;
	}
}

/* The element to apply the animation to */
.preloaded {
	background-color: #fbfec4;
	animation-name: preloaded;
	animation-duration: 6s;
}
.page-title-section {
    background-color: var(--header-background);
    color: white;
    margin: auto;
    padding: 20px;
}
.section {
    margin: 14px;
	padding: 17px 30px;
	font-family: 'BC Sans', sans-serif;
}
.section-white {
    background-color: white;
    border: 1px solid white;
    color: rgb(73, 73, 73);
}
.section-gray {
    background-color: #f1f1f1;
    border: 1px solid #f1f1f1;
    color: black;
}
.section-thin {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.page-title {
    font-size: 2.5rem;
}
.page-subtitle {

}
.section-title {
    font-size: larger;
    margin-bottom: 20px;
}
.right {
    text-align: right;
    padding-right: 0px;
}
.invalid {
	border-color: red;
}
