.oi-question-mark {
    border-radius: 50%;
    border: 1px solid #036;
    font-size: 9px;
    padding: 1px 0px 0px 4px;
    width: 16px;
    height: 16px;
    top: -2px;
    text-align: left;
    background-color: #036;
    color: white;
    font-weight: bold;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.efiling-spinner {
  animation: spin 1s linear infinite;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30px' height='30px' viewBox='0 0 100 100'%3E%3Ccircle fill='white' cx='50' cy='10' r='3'/%3E%3Ccircle fill='white' cx='78' cy='22' r='5'/%3E%3Ccircle fill='white' cx='90' cy='50' r='9'/%3E%3C/svg%3E")
}
.efiling-spinner-blue {
    width: 30px;
    height: 30px;
  animation: spin 1s linear infinite;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30px' height='30px' viewBox='0 0 100 100'%3E%3Ccircle fill='rgb(0, 51, 102)' cx='50' cy='10' r='3'/%3E%3Ccircle fill='rgb(0, 51, 102)' cx='78' cy='22' r='5'/%3E%3Ccircle fill='rgb(0, 51, 102)' cx='90' cy='50' r='9'/%3E%3C/svg%3E")
}
.efiling-spinner::before, .efiling-spinner-blue::before {
  color: rgba(0, 0, 0, 0);
  content: ".";
}
.spinner-action {
    float: left;
    color: rgb(0, 51, 102);
    border: 1px solid rgb(0, 51, 102);
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    margin-left: 5px;
    margin-top: 0px;
    text-align: center;    
}
.spinning {
    padding: 5px 5px 5px 5px;
    width: 40px;
    height: 40px;
}
.not-spinning {
    cursor: pointer;
    padding: 10px 5px 5px 5px;
    width: 40px;
    height: 40px;
}
.action-list {
    margin: 0;
    padding: 0;
    overflow: hidden;
    float:right;
}
