
.progress-status-bar {
    display: flex;
    justify-content: space-between;
    height: 84px;
    padding: 17px 30px;
    background-color: white;
    color: #cccccc;
    margin: 14px;
    font-size: 18px;
    font-weight: 700;
}

.status-item {
    display: flex;
    align-items: center;
}

.status-item .active  {
    color:#666666;
}

.status-label {
    font-size: 18px;
    font-weight: 700;
    margin: 7px;
}

.status-icon {
    border-radius: 100%;
    border: solid #cccccc 2px;
    width: 57px;
    height: 57px;
    background-color: #ffffff;
    font-size: 27px;
    font-weight: 700;
    text-align: center;
    padding-top: 8px;
    margin: 7px;
}

.status-icon.active {
    border: solid #666666 2px;
}
.status-label.active {
    color:#666666;
}

.status-icon.filled {
    border: solid #2bb54c 2px;
    color: #ffffff;
    background-color:#2bb54c;
    padding-top: 10px;
    font-size: 34px;
    font-weight: normal;
}