#parties {
	width: 100%
}
#parties th {
	background-color: lightblue;
}
#parties th, #parties td {
	text-align: left;
	width: 40%;
}
#parties td.role {
	font-weight: bold;
	text-align: left;
}

.modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    padding-top: 110px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-title {
    background-color: var(--header-background);
	color: white;
    margin: auto;
    padding: 20px;
    width: 80%;
	font-size: 2rem;
}
.red {
    background-color: red;
}
.green {
    background-color: green;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

#close-modal {
    float: right;
    font-size: 28px;
	font-weight: bold;
	cursor: pointer;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.progress-bar {
	background-color: green;
}
#validations .validation {
	font-weight: bold;
}
#validations .fa-check-circle {
	color:green;
}
#validationModal .success {
	font-size: 1rem;
}
.proceeding-style{
    padding-bottom: 18px;
}
.proceeding-style-col {
    font-weight: bolder;
    padding-right:15px;
}
.respondent-name-label {
    padding-top: 5px;
}