.access-case-number-reminder {
    font-size: larger;
    margin-bottom: 25px;
}
#continue-to-form {
    width:200px;
}
table.users {
    width: 100%;
    border: 2px solid rgb(28, 92, 151);
}
table.users th {
    background-color: rgb(230, 234, 242);
    color: rgb(28, 92, 151);
}
.account-users-searching {
    text-align: center;
}
.account-users-searching .efiling-spinner-blue {
    display: inline-block;
}
