#parties {
	width: 100%
}
#parties th {
	background-color: lightblue;
}
#parties th, #parties td {
	text-align: left;
	width: 40%;
}
#parties td.role {
	font-weight: bold;
	text-align: left;
}

.modal {
    display: nopne;
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-title {
	background-color: #38598a;
	color: white;
    margin: auto;
    padding: 20px;
    width: 40%;
	font-size: 2rem;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}

#close-modal {
    float: right;
    font-size: 28px;
	font-weight: bold;
	cursor: pointer;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.progress-bar {
	background-color: green;
}
#validations .validation {
	font-weight: bold;
}
#validations .fa-check-circle {
	color:green;
}
#validationModal .success {
	font-size: 1rem;
}