#steps.small-steps {
	background-color: white;
	padding-top: 15px;
	padding-bottom: 5px;
	padding-left:0px;
	font-size: 2rem;
	font-weight: bold;
}
#steps ol li.small-steps
{
	display:inline-block;
	list-style-type: none;
	width: 20%;
	white-space: nowrap;
}
.step-circle .small-steps {
	display:inline-block;
	border: 1px black solid;
	border-radius: 50%;
	vertical-align: middle;
	text-align: center;
	width: 20px;
	height: 20px;
	line-height: 15px;
}
.small-steps {
    font-size: 1rem;
}
#forms-table td {
    vertical-align: top;
    padding: 0px;
    padding-left: 3px;
    padding-right: 3px;
}
#forms-table > tbody > tr > td.left-bordered {
	border-left: 1px solid black;
	width: 50%;
}
.toggler {
	cursor: pointer;
}
a.toggler {
	color: rgb(73, 73, 73);
}
a.toggler:hover {
	text-decoration: none;
}
#appellants-right-to-appeal-forms,
#appellants-leave-to-appeal-forms,
#respondents-right-to-appeal-forms,
#respondents-leave-to-appeal-forms {
	display: none;
}
#forms-list > ul {
	padding-left: 0px;
}
#forms-list > ul > ul {
	padding-left: 25px;
}
#forms-list li {
	list-style: none;
}
#forms-list > ul > ul > ul > li {
	list-style: disc;
}
#forms-list .fa-info-circle {
	color: #38598a;
}
#forms-list > ul > li.vertical-gap {
	padding-top: 10px;
}
#forms-list .starting-or-responding {
	font-weight: 600;
	font-size: 1.1em;
}
.btn-journey {
    width: 100%;
    background-color: green;
	border-color: green;
    color: white;
}
button:hover.btn-journey {
    background-color: rgb(81, 180, 81);
	border-color: rgb(81, 180, 81);
    color: white;
}
.btn-not-selected {
	background-color: rgb(241, 241, 241);
	border-color: rgb(241, 241, 241);
	color: black;
}
.action-button {
	background-color: green;
	color: white;
}
:hover.action-button {
	background-color: rgb(81, 180, 81);
	color: white;
}

svg.fa-play {
    margin-left:10px;
}
.right-to-appeal-tooltip {
	font-size: 15px !important;
	pointer-events: auto !important;
}
.right-to-appeal-tooltip:hover {
	 visibility: visible !important;
	 opacity: 1 !important;
}
.right-to-appeal-tooltip a {
	color: lightblue;
}

.info-modal-icon-container {
	position: relative;
	height: 60px;
	width: 60px;
	border-radius: 50%;
	border-width: 20px;
	background-color: #49a25a;
}
.info-modal-icon {
	height: 60px;
	width: 60px;
	position: absolute;
	padding: 6px;
}
.deadline {
	color: red;
	font-size: xx-large;
}
.vertical-line {
	width: 80px;
	border-left: 7px solid #f2f2f2;
	height: 100%;
	margin-left: 28px;
}