.no-padding {
    padding: 0px;
}

.action-icon {
    cursor: pointer;
    color: rgb(0, 51, 102);
    border: 1px solid rgb(0, 51, 102);
    border-radius: 5px;
    padding: 10px 7px 5px 7px;
    margin-left: 5px; 
}