#steps.small-steps {
	background-color: white;
	padding-top: 15px;
	padding-bottom: 5px;
	padding-left:0px;
	font-size: 2rem;
	font-weight: bold;
}
#steps ol li.small-steps
{
	display:inline-block;
	list-style-type: none;
	width: 20%;
	white-space: nowrap;
}
.step-circle .small-steps {
	display:inline-block;
	border: 1px black solid;
	border-radius: 50%;
	vertical-align: middle;
	text-align: center;
	width: 20px;
	height: 20px;
	line-height: 15px;
}
.small-steps {
    font-size: 1rem;
}
#forms-table td {
    vertical-align: top;
    padding: 0px;
    padding-left: 3px;
    padding-right: 3px;
}
#forms-table > tbody > tr > td.left-bordered {
	border-left: 1px solid black;
	width: 50%;
}
.toggler {
	cursor: pointer;
}
a.toggler {
	color: rgb(73, 73, 73);
}
a.toggler:hover {
	text-decoration: none;
}
#appellants-right-to-appeal-forms,
#appellants-leave-to-appeal-forms,
#respondents-right-to-appeal-forms,
#respondents-leave-to-appeal-forms {
	display: none;
}
#forms-list > ul {
	padding-left: 0px;
}
#forms-list > ul > ul {
	padding-left: 25px;
}
#forms-list li {
	list-style: none;
}
#forms-list > ul > ul > ul > li {
	list-style: disc;
}
#forms-list .fa-info-circle {
	color: #38598a;
}
#forms-list > ul > li.vertical-gap {
	padding-top: 10px;
}
#forms-list .starting-or-responding {
	font-weight: 600;
	font-size: 1.1em;
}
.start-an-appeal {
    width: 250px;
    background-color: green;
    color: white;
}
a:hover.start-an-appeal {
    background-color: rgb(81, 180, 81);
    color: white;
}
.action-button {
	background-color: green;
	color: white;
}
:hover.action-button {
	background-color: rgb(81, 180, 81);
	color: white;
}

svg.fa-play {
    margin-left:10px;
}