.journey-map-image {
    width: 713px;
    padding: 20px;
}

.journey-breadcrumb {
    display: flex;
    flex-flow: row;
}

.journey-breadcrumb.crumb {
    padding: 10px 10px 10px 0;
}

.journey-questions {
     padding: 10px 0 10px 15px;
 }

.journey-buttons {
    padding-bottom: 10px;
}
.right-to-appeal-tooltip {
    color: white !important;
    padding: 20px;
    font-size: medium !important;
    background-color: #333333 !important;
    font-family: Myriad-Pro, Calibri, Arial, sans-serif;
    z-index: 1000;
}

.right-to-appeal-tooltip p {
    margin-top: 2px ;
    margin-bottom: 2px ;
}
.journey-map-container {
    position:relative;
    padding: 50px 10px 100px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.journey-start-circle {
    background-color: #9fbfe2;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    margin: 23px -5px 0 15px;
    z-index:1;
}
.journey-trail-l1 {
    border-bottom: 9px solid #9fbfe2;
    height: 79px;
    width: 75%;
    margin: 0 -10px 140px -10px;
    position: relative;
}
.journey-trail-l1-moveable {
    border-top: 9px solid #9fbfe2;
    height:0;
    position: relative;
    margin-top:42.5px;
}
@keyframes glowing {
    0% {width: 0;}
    20% { width: 100%;}
    40% { box-shadow: 0 0 -10px #a7cc61; border-top-width: 9px;  }
    50% { box-shadow: 0 0 20px #49a25a; border-top-width: 10px; }
    90% { box-shadow: 0 0 20px #49a25a; border-top-width: 10px; }
    100% { box-shadow: 0 0 -10px #3c763d; border-top-width: 9px; }
}

.journey-trail-l1-moveable.completed-step-l1 {
    animation: glowing 5000ms;
}
.journey-trail-basis {
    border-top:#9fbfe2;
    z-index: 0;
    margin-top: -9px;
    width: 100%
}

.journey-trail-l1-l2 {
    border: 9px solid #9fbfe2;
    border-left-color: transparent;
    border-right-color: transparent;
    height: 170px;
    margin: 42px -9px 0 -9px;
    position: relative;
}
.journey-right-curve {
    border: 9px solid #9fbfe2;
    border-left-color: transparent;
    width: 25%;
    border-radius:  0 200px 200px 0;
    margin-top: 42px;
    margin-left: -10px;
    border-left-width: 0;
}
.completed-curve {
    border: 9px solid #377d22;
    border-left-color: transparent;
}

.journey-right-curve.l2 {
    margin-top: 82px;
    border-left-color: transparent;
}
.journey-left-curve {
    border: 9px solid #9fbfe2;
    border-right-color: transparent;
    height: 100px;
    width: 10%;
    border-radius: 200px 0 0 200px;
    margin: -9px 0 0 10px;
}
.completed-left-curve {
    border: 9px solid #377d22;
    border-right-color: transparent;
}

.journey-trail-l2-l3 {
    border: 9px solid #9fbfe2;
    border-left-color: transparent;
    border-right-color: transparent;
    height: 170px;
    margin: 82px -9px 0 -9px;
    position: relative;
}

.last-row {
    height: 100px;
    border-bottom-color: transparent;
}

.journey-trail-l3 {
    border: 9px solid #9fbfe2;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    height: 170px;
    margin: 82px -9px 0 -9px;
    position: relative;
}

.journey-trail-l2 {
    border: 9px solid #9fbfe2;
    border-left-color: transparent;
    border-right-color: transparent;
    height: 100px;
    width: 65%;
    margin: -9px -10px 140px -10px;
}
.completed-line-l1 {
    border: 9px solid;
    border-color: #377d22 transparent #377d22 transparent;
}

.completed-step-l1 {
    border-top: 9px solid #377d22;
}

.completed-step-l1-l2 {
    border-top-color: #377d22;
    border-bottom-color: #377d22;
}
.journey-trail-l4 {
    border: 9px solid #9fbfe2;
    border-left-color: transparent;
    border-right-color: transparent;
    height: 100px;
    width: 65%;
    margin: -9px -10px 120px -10px;
}
.journey-end-circle {
    position: absolute;
    left: 81%;
    background-color: #9fbfe2;
    border-radius: 100px;
    height: 93px;
    width: 93px;
    color: white;
    font: 50px Myriad-Pro, Calibri, Arial, 'sans serif';
}
.journey-final-check {
    margin: 20px 0 0 24px;
}
.completed-step {
    background-color:  #377d22;
}
.start-over {
    display: flex;
    justify-content: flex-end;
}
.start-over button {
    flex-direction: row-reverse;
    width: 20%;
    border: 2px solid green;
    border-radius: 5px;
}

