.info-modal-title {
    background-color: var(--header-background);
    color: white;
    margin: auto;
    padding: 20px;
    width: 65%;
    font-size: 2em;
    min-width: 800px;
}

.info-modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 22px 20px 40px 20px;
    border: 1px solid #888;
    width: 65%;
    min-width: 800px;
}

.info-modal-section-heading {
    padding-bottom: 20px;
    padding-top: 15px;
}

.info-modal-section {
    padding-bottom: 15px;
    margin-top: -5px;
}
.info-modal-details {
    padding-left: 28px;
}

.bullet {
    width: 2px;
    border-radius: 50%;
    background-color: #4f4f4f;
    border-width: thick;
    padding: 3px;
    margin-top: 8px;
}

.bullet-div {
    width: 5px;
    margin-left: 20px;
    margin-right: -10px;
}

.bullet-list-row {
    margin: 5px;
    paddingLeft: 20px;
    font-weight: normal;
}

.icon-container-box {
    padding-top:1px;
}

.info-modal-icon-container {
    position: relative;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border-width: 20px;
    background-color: #49a25a;
}

.info-modal-icon {
    height: 60px;
    width: 60px;
    position: absolute;
    padding: 12px;
}

.info-modal-clock {
    padding: 6px;
    margin-right: 5px;
}

.info-modal-divider {
    border-bottom: 1px solid lightgrey;
    padding-bottom: 15px;
}

.info-modal-ol {
    font-weight: bolder;
    padding: 10px 10px 10px 0;
}

.deadline {
    color: red;
    font-size: 3.5rem;
    margin-bottom: -15px;
    padding-top: 7px;
}

.vertical-line {
    width: 7px;
    margin-left: 27px;
    margin-top: -35px;
    background: #f2f2f2;
    height: 100%;
}

.vertical-divider {
    border-right: 1px solid grey;
}

.info-help-right-cols {
    text-align: center;
}

.content-hidden {
    display: none;
}

.content-showing {
    display: block;
}

.toggle-expansion-button {
    font-size: xx-large;
    font-weight: bolder;
    color: grey;
    text-align: left;
    cursor: pointer;
}

.doc-badge {
    width: 40px;
    height: 20px;
    border-radius: 7px;
    border: 1px solid var(--header-background);
    color: var(--header-background);
    padding-left: 6px;
    padding-top: 1px;
    font-size: small;
    font-weight: bold;
}
