.journey-map-image {
    width: 713px;
    padding: 20px;
}

.journey-breadcrumb {
    display: flex;
    flex-flow: row;
}

.journey-breadcrumb.crumb {
    padding: 10px 10px 10px 0;
}

.journey-questions {
     padding: 10px 0 10px 15px;
 }

.journey-buttons {
    padding-bottom: 10px;
}