.journey-map-image {
    width: 713px;
    padding: 20px;
}

.journey-breadcrumb {
    display: flex;
    flex-flow: row;
}

.journey-breadcrumb.crumb {
    padding: 10px 10px 10px 0;
}

.journey-questions {
     padding: 10px 0 10px 15px;
 }

.journey-buttons {
    padding-bottom: 10px;
}
.right-to-appeal-tooltip {
    color: white !important;
    padding: 20px;
    font-size: medium !important;
    background-color: #333333 !important;
    font-family: Myriad-Pro, Calibri, Arial, 'sans serif';
    z-index: 1000;
}

.right-to-appeal-tooltip p {
    margin-top: 2px ;
    margin-bottom: 2px ;
}