.btn-journey {
	 width: 100%;
	 background-color: green;
	 border-color: green;
	 color: white;
 }
button:hover.btn-journey {
    background-color: var(--actioned-green);
	border-color: var(--actioned-green);
    color: white;
}
.selected.btn-journey {
	background-color: var(--actioned-green);
	border-color: var(--actioned-green);
	color: white;
}
.btn-not-selected {
	background-color: rgb(241, 241, 241);
	border-color: rgb(241, 241, 241);
	color: grey;
}
.action-button {
	background-color: green;
	color: white;
}
:hover.action-button {
	background-color: var(--actioned-green);
	color: white;
}

svg.oi-media-play {
    margin-left:10px;
}
.right-to-appeal-tooltip {
	font-size: 15px !important;
	pointer-events: auto !important;
}
.right-to-appeal-tooltip:hover {
	 visibility: visible !important;
	 opacity: 1 !important;
}
.right-to-appeal-tooltip a {
	color: lightblue;
}
area {
	display: block;
	cursor: pointer;
}
